.body{
    display: flex;
    text-align: center;
    height: 100%;
    margin-top: 1vh;
    background-color:#EDEDED;
}

.right__side{
    flex: 0.5;
    background-color: #fff;
}

.left__side{
    flex: 0.5; 
    background-color: #FFF; 
}
